*.npy
scripts/__pycache__/*
tests/__pycache__/*
t0_training/__pycache__/*
data/mixes/*.txt
checkpoints/
planning/audits/*

# env
.env
uv.lock

# logs
slurm*.out
logs/
data/filter-index/dolma3-3.8B/*
*.pyc
t0_training/filters/__pycache__/*
venv/*
